body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #d0d0d0;
}

.main-container {
    position: relative;
    width: 850px; 
    height: 500px; 
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 10px;
}

.block {
    position: absolute; 
    border: 1px solid white; 
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.green {
    background-color: #388e3c; 
    z-index: 0;
}

.purple {
    background-color: #9c27b0; 
    z-index: 1; 
}

.block p {
    margin: 0;
    line-height: 1.2;
}

.block1 {
    width: 140px;
    height: 250px;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.block2 {
    width: 140px;
    height: 250px;
    top: 20px;
    left: 170px;
    z-index: 1; 
}

.block3 {
    width: 460px;
    height: 250px;
    top: 20px;
    left: 370px;
    justify-content: center;
    z-index: 0;
}

.block4 {
    width: 810px; 
    height: 100px;
    top: 300px;
    left: 20px;
    justify-content: center;
    z-index: 1;
}